// Body
$body-bg: #f9f9f9;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$colors: (
    "purple": #6D2BF1
);
$theme-colors: (
    "purple": #6D2BF1
);